#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url(https://img3.wallspic.com/previews/4/6/7/8/7/178764/178764-nei-yu_hang_yuan-wai_ceng_kong_jian-tao-yi_shu-500x.jpg);
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
  }